<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
    <!--全局乱码过滤器-->
    <filter>
        <filter-name>CharacterFilter</filter-name>
        <filter-class>com.travel.web.filter.CharacterFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharacterFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--验证码-->
    <servlet>
        <servlet-name>CheckCodeServlet</servlet-name>
        <servlet-class>com.travel.web.servlet.CheckCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUserServlet</servlet-name>
        <servlet-class>com.travel.web.servlet.RegisterUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>activeUserServlet</servlet-name>
        <servlet-class>com.travel.web.servlet.ActiveUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.travel.web.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindUserServlet</servlet-name>
        <servlet-class>com.travel.web.servlet.FindUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExitServlet</servlet-name>
        <servlet-class>com.travel.web.servlet.ExitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExitServlet</servlet-name>
        <url-pattern>/exitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindUserServlet</servlet-name>
        <url-pattern>/findUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>activeUserServlet</servlet-name>
        <url-pattern>/activeUserServlet</url-pattern>
    </servlet-mapping>
    <!--注册功能-->
    <servlet-mapping>
        <servlet-name>RegisterUserServlet</servlet-name>
        <url-pattern>/registerUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCodeServlet</servlet-name>
        <url-pattern>/checkCode</url-pattern>
    </servlet-mapping>
</web-app>
